.shop-link-group {
  align-items: center;
  display: flex;
  height: 10rem;
  justify-content: center;
  text-align: center;

  &__inner-container {
    &__header {
      font-size: $font-size--xl;
      font-weight: bold;
      margin-bottom: $space--xl;
    }

    &__link {
      border-right: 1px solid lightgrey;
      font-size: 1.5rem;
      padding: 0 1.5rem;

      &:hover {
        text-decoration: underline;
      }

      &--underline {
        text-decoration: underline #8dd9bf;
        text-underline-offset: 4px;
      }

      &--last {
        border-right: none;
      }
    }
  }

  &__breadcrumbs {
    margin-top: $space--md;

    &__breadcrumb {
      display: inline-flex;
      padding: 0 $space--sm;

      &--current-page {
        cursor: default;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }
}
